#clock img {
    z-index: 0;
    position: absolute;
    
}

#hour {
    z-index: 1;
    display: flex;
    position: absolute;
    transform: rotate(90deg);
}
#minute {
    display: flex;
    position: absolute;
    z-index: 0;
    transform: rotate(180deg);
}
#second {
    display: flex;
    position: absolute;
    z-index: 2;
    transform: rotate(0deg);
}
